/* horizontally & vertically centering the statistics  */
#dashboard-wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary);
}

#dashboard-container {
	--content-padding: 2rem;
	--content-gap: 2rem;

	display: flex;
	width: 95vw;
	height: 95vh;
	background-color: var(--primary);
	border-radius: 1rem;
	box-shadow: var(--shadow);
	font-weight: var(--fw-regular);
	font-size: 1rem;
	color: var(--text-color);
}

#dashboard-container main {
	display: flex;
	flex-direction: column;
	width: 100%;
	flex-grow: 1;
}

#dashboard-container article {
	--max-width: 1200px;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-block: var(--content-padding);
	gap: var(--content-gap);
	overflow: auto;

	width: min(var(--max-width), 100% - (var(--content-padding) * 2));
	margin-inline: auto;
}

.article-title {
	font-size: 1.5rem;
	color: var(--title-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	gap: 1rem;
}

.article-title > div {
	display: flex;
	gap: 1rem;
	max-height: 2.25rem;
}

@media screen and (max-width: 1024px) {
	.article-title {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 425px) {
	#dashboard-container {
		width: 100%;
		height: 100vh;
		border-radius: 0rem;
	}

	#dashboard-container article {
		padding: 1rem;
	}

	article .article-title {
		font-size: 1.5rem;
	}
}

/* Circular Progress Bar */
.circular-wrapper {
	max-width: 300px;
	padding: 2rem 0;
	border-radius: 1rem;
	background-color: var(--primary);
}

/* Go Back Button */
.button-icon {
	max-width: 300px;
	margin-left: auto;
	background-color: var(--subtitle-color);
	color: var(--primary);
	padding: 0.5rem 1rem;
	border-radius: var(--rounded-sm);
	border: 2px solid transparent;
	cursor: pointer;
}

.button-icon[data-theme="secondary"] {
	background-color: var(--secondary);
    color: var(--subtitle-color);
}

/* Dashboard Components */

/* Actived and Deactivated Buttons */
.user-state {
	display: inline-flex;
	margin-right: 0.5rem;
	width: 0.6125rem;
	height: 0.6125rem;
	border-radius: var(--rounded-lg);
	border: 1px solid var(--muted-color);
}

.user-state.active {
	background-color: green;
}
.user-state.deactive {
	background-color: red;
}

.message-state.new > * {
	color: green;
}
.message-state.spam > * {
	color: red;
}

.message-state {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-weight: var(--fw-bold);
}

/* Tables */
.table {
	min-width: 100%;
	border-collapse: collapse;
	overflow: hidden;
	border-radius: var(--rounded-sm);
	text-align: left;
}

.table,
.table *:not(select) {
	border: 0;
}

.table td,
.table th {
	padding: 1rem;
}

.table thead {
	background-color: var(--subtitle-color);
	color: var(--primary-variant);
	letter-spacing: 0.125rem;
	transition: 0.2s background-color ease-in-out;
}

.table tbody tr {
	background-color: var(--primary-variant);
	color: var(--text-color);
}

.table .table__options {
	display: flex;
}
.table .table__options > * {
	flex-grow: 1;
}

.table tbody tr [type='submit'] {
	background-color: inherit;
	border: none;
	color: inherit;
}

.table td[data-label='Message'] {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.table-options {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
}

.table-options > * {
	margin-left: 0;
}

@media (min-width: 1025px) {
	.table {
		box-shadow: var(--shadow);
	}

	.table tbody tr:hover {
		background-color: rgba(0, 0, 0, 0.01);
	}
}

@media (max-width: 1024px) {
	.table-responsive thead {
		display: none;
	}

	.table-responsive tbody tr {
		display: block;
		border-radius: var(--rounded-sm);
		box-shadow: var(--shadow);
	}

	.table-responsive tbody tr {
		margin-bottom: 2rem;
	}
	.table-responsive tbody tr:last-child {
		margin-bottom: 0;
	}

	.table-responsive tbody tr td {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		align-items: center;
		position: relative;
	}

	.table-responsive tbody tr td:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}

	.table-responsive tbody td::before {
		content: attr(data-label);
		font-weight: var(--fw-bold);
		position: absolute;
		left: 0;
		width: 50%;
		padding-left: 2rem;
	}
}

.table img {
	height: 2rem;
	border-radius: var(--rounded-lg);
	border: 2px solid var(--secondary);
	margin-right: 0.5rem;
}

/* Filter */
article .button-icon {
	--button-size: 0.5rem;

	font-size: 1rem;
	padding: var(--button-size);
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.filter > .button-icon > i {
	margin-right: 0;
}

.filter__search {
	border: 1px solid var(--muted-color);
	border-radius: var(--rounded-md);
	font-size: 1rem;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	background-color: var(--primary-variant);
	width: 250px;
}

.filter__search input,
.filter__search .filter__search-submit {
	border: none;
	background-color: transparent;
	color: inherit;
}

.filter__search .filter__search-submit:hover {
	background-color: var(--primary-variant) !important;
}

.filter__search:focus-within {
	padding-right: 2rem;
}

#filterMenu {
	margin-left: auto;
	width: 300px;
	background-color: var(--primary-variant);
	color: var(--text-color);
	font-size: 1rem;
	padding: 1rem;
	border-radius: var(--rounded-sm);
	box-shadow: var(--shadow);
}

#filterMenu form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: fixed;
	background-color: inherit;
}

.filter__options {
	display: flex;
	justify-content: flex-start !important;
	align-items: center;
	gap: 2rem;
}

.filter__options i:last-child {
	color: var(--title-color);
}

.filter__option {
	display: flex;
	align-items: center;
	gap: 2rem;
}

#filterMenu .filter__options-title {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.5rem;
	align-items: center;
}

/* Contacts cards */
#contacts-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;
}

#contacts-wrapper a {
	color: var(--title-color);
	text-decoration: none;
}

#contacts-wrapper .contact-card {
	--card-size: 250px;

	flex: 0 1 var(--card-size);
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid var(--text-color);
	border-radius: var(--rounded-md);
	padding: 2rem;
	min-width: var(--card-size);
	min-height: 200px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

#contacts-wrapper .contact-card p {
	margin-bottom: 0;
}

#contacts-wrapper a:hover .contact-card,
#contacts-wrapper a:focus .contact-card {
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#contacts-wrapper .contact-card > .icon i.fa-solid,
#contacts-wrapper .contact-card > .icon i.fa-brands {
	font-size: 4rem;
	color: var(--title-color);
}

.contact-card.dashed {
	border: 2px dashed var(--muted-color) !important;
}

.contact-card.dashed,
.contact-card.dashed * {
	color: var(--muted-color) !important;
}

.contact-card__options {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

/* Statistics */
.stats-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;
}

.stats-card {
	min-width: 200px;
	flex: 0 1 var(--card-size);
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid var(--text-color);
	border-radius: var(--rounded-md);
	padding: 2rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.stats-card:hover {
	background-color: rgba(0, 0, 0, 0.25);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.stats-card .stats-card__icon {
	font-size: 2.5rem;
}

.stats-card__title {
	font-weight: var(--fw-semibold);
	font-size: 1.125rem;
}

.stats-card__number {
	font-size: 1.25rem;
}

/* Project 3 CSS */
.alert-message {
	padding: .75rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
	border-top-width: .25rem;
	margin-block: 1rem;
	overflow: hidden;
	border-radius: 0 0 .5rem .5rem;
}

.alert-message i { cursor: pointer }

.alert-message[data-style="success"] {
	border-top: .25rem solid #38b2ac;
	background-color: #e6fffa;
	color: #38b2ac;
}

.alert-message[data-style="error"] {
	border-top: .25rem solid #f56565;
	background-color: #fff5f5;
	color: #c53030;
}